<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog - Edit</title>
  </head>
  <body>
    <h1>글 쓰러 왔니?</h1>
    <form action="/blog/update/<%= content.no %>" method="post">
      <input type="text" name="title" value="<%= content.title %>" />
      <textarea name="content" id="" cols="30" rows="5">
        <%= content.content %>
      </textarea>
      <input type="submit" value="작성 완료" />
    </form>
  </body>
</html>
