<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/expost" method="post">
    <!-- method를 post로 설정해야 한다. -->
    <!-- /expost 화면에 출력한다. -->
    <input type="text" name="name" id="">
    <input type="number" name="phoneNumber" id="">
    <input type="date" name="bDay" id="">
    <input type="submit" value="전송하기">
  </form>
</body>
</html>