<!DOCTYPE html>
<html>
  <head>
    <title><%= list.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= list.title %></h1>
    <ul>
      <li><%= list.item %></li>
    </ul>
  </body>
</html>
